		<div>
		    <style>
		    .btn_search{
			    padding: 0 4px;
				line-height: 23px;
				border-width: 2px;
				font-size: 12px;
				float: right;
				width: 40%;
		    }
		    .full{
		    	width: 100% !important;
		    }
		    label.error
	        {
	            color:Red;
	            font-size:13px;
	            margin-left:5px;
	            padding-left:16px;
	            background:url("/assets/users/img/error.png") left no-repeat;
	        }
		    </style>
			<!-- condition start -->
			<div class="row">
				<form id="f_con_acc" action="">
					<div class="col-lg-2 col-sm-6 col-xs-12">
						<input name="accRefer.rUserId" type="text" placeholder="用户ID" class="full"/>
					</div>
					<div class="col-lg-2 col-sm-6 col-xs-12">
						<input name="accRefer.rId" type="text" placeholder="接口ID" class="full" />
					</div>
					
					<div class="col-lg-2 col-sm-6 col-xs-12 center">
				 		<button id="btn_filter" class="btn btn_search btn-purple" type="button">筛选</button>
				 	</div>
				</form>
			<!-- condition end -->
			</div>
		</div>
	
		<!-- 数据table -->
		<table id="tb_refer_acc" lay-filter="tb_refer_acc">
		</table>
		<div class="well well-sm">
			<p>
				<i class="fa fa-exclamation-circle red"></i>
				"禁用"状态：用户无法使用此状态的接口</p>
			<p>
				<i class="fa fa-exclamation-circle red"></i>
				"限用"状态：用户只能使用此状态的接口</p>
			<p><i class="fa fa-exclamation-circle red"></i>
				未列出的用户可用系统所有接口</p>
			<p><i class="fa fa-exclamation-circle red"></i>
				如果用户只有"禁用"状态的接口，用户可用系统其它所有接口</p>
			<p><i class="fa fa-exclamation-circle red"></i>
				"添加关联/编辑/解除"操作需要通过"重载接口"操作通知API系统生效</p>
		</div>
		<div class="vspace-12-sm"></div>
		


								
<script th:inline="none">
var validator;

function stat(v){
	if('1'==v) {
		return '限用';
	} else if('0'==v){
		return '禁用';
	}
	return v;
}
//格式YYYY/MM/DD HH:mm:ss
function dateFormat(v, fmt){
	return moment(v).format(fmt);
}

/**
 * 添加关联
 */
function add(layer){
	if(validator) validator.resetForm();
	$('#f_ur_edited')[0].reset();
	$('#rUserIdTxt').html('关联用户-接口');
	$('#rUserId').removeAttr('disabled');
	$('#rUserId').select2('val',['']);
	$('#rSeqNo').removeAttr('disabled');
	$('#rSeqNo').select2('val',['']);
	
	$('#rIsOff').select2("val",['1']);
	$('#rIsExpired').datepicker("update",new Date());
	$('#rDescription').html("");
	
	var idx=layer.open({
        type: 1 //此处以iframe举例
        ,title: ''
        ,area: '80%'
        ,shadeClose:false
        ,btn: ['保存', '取消'] //只是为了演示
        ,btnAlign: 'c'
        ,content: $('#user_editor')
        ,move :'.page-header'
        ,yes: function(index, layero){
        	if(!$("#f_ur_edited").valid()) {
        		return;
        	}
        	var usernew=$.serializeObject($('#f_ur_edited'));
        	usernew.rDescription=$('#rDescription').val();
        	if(saveURefer(usernew, true)){
        		layer.close(idx);
        		layui.use(['table'],function(){
        			var table=layui.table;
        			table.reload('tb_refer_acc');
        		})
        	}
        }
        ,btn2: function(){
          layer.close(idx);
        }
      });
}

/**
 * 编辑关联信息
 */
function edit(layer, rObj){
	var row=rObj.data;
	if(!row) return;
	$('#f_ur_edited')[0].reset();
	$('#rUserIdTxt').html(row.rUserId);
	
	$('#rUserId').select2('val',[row.rUserId]);
	$('#rUserId').attr('disabled','disabled');
	$('#rSeqNo').select2('val',[row.rSeqNo]);
	$('#rSeqNo').attr('disabled','disabled');
	
	$('#rWeight').val(row.rWeight);
	$('#rIsOff').select2("val",[row.rIsOff]);
	$('#rIsExpired').datepicker("update",new Date(row.rIsExpired));
	$('#rDescription').html(row.rDescription);
	
	var idx=layer.open({
        type: 1 //此处以iframe举例
        ,title: ''
        ,area: '80%'
        ,shadeClose:false
        ,btn: ['保存', '取消'] //只是为了演示
        ,btnAlign: 'c'
        ,content: $('#user_editor')
        ,move :'.page-header'
        ,yes: function(index, layero){
        	if(!$("#f_ur_edited").valid()) {
        		return;
        	}
        	var usernew=$.serializeObject($('#f_ur_edited'));
        	delete usernew.rName;
        	usernew.rDescription=$('#rDescription').val();
        	usernew=diffObj(row, usernew);
        	usernew.rSeqNo=row.rSeqNo;
        	usernew.rUserId=row.rUserId;
        	if(Object.keys(usernew).length<=3){
				layer.alert("接口信息未发生变化");
				return;
			}
        	if(saveURefer(usernew, false)){
        		rObj.update(usernew);
        		layer.close(idx);
        	}
        }
        ,btn2: function(){
          layer.close(idx);
        }
      });
}

/**
 * 编辑关联信息
 */
function del(layer, rObj){
	var row=rObj.data;
	if(!row) return;
	var p=new Object();
	p.rSeqNo=row.rSeqNo;
	p.rId=row.rId;
	p.rUserId=row.rUserId;
	
	layer.confirm('是否要删除关联信息(API系统会立即生效)!', {
        btn: ['确定', '取消']
    }, function (index, layero) {
    	if(delURefer(p)){
    		layui.use(['table'],function(){
    			var table=layui.table;
    			table.reload('tb_refer_acc');
    		})
    		layer.close(index);
    	}
        layer.msg("关联关系解除成功!",{ icon: 1, time: 1000 });
    });
}

/**
 * 保存用户信息
 */
function saveURefer(refer,newer){
	var flag=false;
	var url='/idcs/user/saveUR';
	if(newer) url='/idcs/user/addUR'
	$.ajax({
		url: url,
		type: 'post',
		data: refer,
		dataType: 'json',
		async: false,
		success:function(response){
			layui.use('layer', function(){
			  var layer = layui.layer;
			  layer.alert(response.msg);
			});
			if('0'==response.code) {
				flag=true;
			}
		}
	});
	return flag;
}
/**
 * 保存用户信息
 */
function delURefer(refer){
	var flag=false;
	var url='/idcs/user/delUR';
	$.ajax({
		url: url,
		type: 'post',
		data: refer,
		dataType: 'json',
		async: false,
		success:function(response){
			layui.use('layer', function(){
			  var layer = layui.layer;
			  layer.alert(response.msg);
			});
			if('0'==response.code) {
				flag=true;
			}
		}
	});
	return flag;
}

/**
 * 重新加载接口
 eventName: reload (重新加载用户接口)
 reloadAll(重新加载所有接口)
 */
function reloadApi(layer, eventName, data){
	var url='/idcs/user/reloadApis';
	var p=new Object();
	p.ajax=true;
	
	if('reload'===eventName){
		p.userId='system';
		p.apiId=data.rId;
		url='/idcs/user/reloadUserApi';
	}
	$.post(url, p, function(resp){
		layer.alert(resp.msg);
	});
}


$(function(){
	/**
	 * input的检验
	 */
	 validator=$("#f_ur_edited").validate({
		rules: {
			rUserId: { required: true },
			rSeqNo: { required: true, digits: true },
			rWeight: { required: true, digits: true },
			rIsExpired: { required: true, date: true },
			rIsOff: { required: true, digits: true },
			rDescription: { maxlength: 225 }
		},
		//自定义错误提示信息
		messages: {
			rDescription: {
				maxlength: jQuery.validator.format("最多填写{0}个字符")
			}
		}
	});
	
	
	layui.use(['table', 'layer', 'form'],function(){
		var form=layui.form;
		var table=layui.table;
		var layer=layui.layer;
		
		table.render({
		    elem: '#tb_refer_acc'
		    ,method: 'post'
		    ,url: '/idcs/user/accRefers' //数据接口
		    ,defaultToolbar: ['filter']
		    ,toolbar: '#toolbar'
		    ,page: {    	//开启分页
		    	limit: 5
		    }
		    ,cols: [[ //表头
		      {type:'radio', title: '' }
			  ,{field: 'rSeqNo', title: '', hide:true }
		      ,{field: 'rUserId', title: '用户ID', minWidth:30, align:'center'}
		      ,{field: 'userName', title: '用户名', minWidth:30, align:'center'}
		      ,{field: 'rId', title: '接口ID', minWidth:30, align:'center'}
		      ,{field: 'rName', title: '接口名', minWidth:30, align:'center'}
		      ,{field: 'rWeight', title: '权重', minWidth:50, align:'right'}
		      ,{field: 'rIsExpired', title: '有效期', minWidth:80, align:'center', templet:function(r){return dateFormat(r.rIsExpired,'YYYY-MM-DD');}}
		      ,{field: 'rIsOff', title: '状态', minWidth: 10, align:'center', templet:function(r){return stat(r.rIsOff);}}
		      ,{field: 'rDescription', title: '描述', minWidth: 80, align:'left'}
		      ,{field: '', title: '操作', toolbar: '#barDemo',minWidth: 80, align:'center'}
		    ]]
			,response: {
			      statusCode: 0 //重新规定成功的状态码为 200，table 组件默认为 0
		    }
		    ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
		      return {
		        "code": res.code, //解析接口状态
		        "msg": res.msg, //解析提示文本
		        "count": res.data.totalRows, //解析数据长度
		        "data": res.data.rows //解析数据列表
		      };
		    }
		  });
	
		  //监听行工具
		  table.on('tool(tb_refer_acc)', function(obj){
		    var data = obj.data;
		    if(obj.event==='edit'){
		        edit(layer, obj);
		    } else if(obj.event==='del'){
		    	del(layer, obj);
		    }
		  });
		  //监听工具栏
		  table.on('toolbar(tb_refer_acc)', function(obj){
			  if('newRefer'===obj.event){
				  add(layer);
			  } else if('reload'===obj.event) {
				  var checkStatus = table.checkStatus('tb_refer_acc');
				  if(!checkStatus.data || checkStatus.data.length<=0){
					  layer.alert('请先选择要重载的接口');
					  return ;
				  } else {
					  reloadApi(layer, 'reload', checkStatus.data[0]);
				  }
			  } else if('reloadAll'===obj.event) {
			      reloadApi(layer, 'reloadAll', {});
			  }
		  });
		
		  $('#btn_filter').bind('click', function(e){
			  var infos=$.serializeObject($('#f_con_acc'));
			  table.reload('tb_refer_acc', {
				  //设定异步数据接口的额外参数，任意设
				  where: infos
			   }); //只重载数据
		  });
	});
	
});
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">解除</a>
</script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="newRefer">添加关联</button>
	<shiro:hasRole name="admin">
		<button class="layui-btn layui-btn-sm" lay-event="reload">重载关联</button>
		<button class="layui-btn layui-btn-sm" lay-event="reloadAll">重载全部接口和关联</button>
	</shiro:hasRole>    
  </div>
</script>

<!-- 
使用lay-verify有两个需要注意的地方:

form标签需要添加 class="layui-form"
提交按钮需要添加 lay-submit=""

layui 表单
1.表单自带校验

lay-verify：是表单验证的关键字 
有以下值供选择：

required (必填项)
phone（手机号）
email（邮箱）
url（网址）
number（数字）
date（日期）
identity(身份证)
自定义值
同时支持多条规则的验证： 
格式：lay-verify=”验证A|验证B” 
如：lay-verify=”required|phone|number”
 -->
<div id="user_editor" class="page-content row" style="display:none;overflow-x:hidden;overflow-y:auto; ">
<style>
.textareaLabel {
	text-align: right; margin:0 auto;
}
.textarea_pub {
	width: 95%;
	height: 70px;
}
</style>	
	<!-- /section:settings.box -->
	<div class="page-header">
		<h1>
			<p id="rUserIdTxt">关联用户-接口</p>
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<form class="form-horizontal" role="form" id="f_ur_edited">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="rUserId">用户</label>
					<div class="col-lg-5 col-sm-9 from-inline">
						<select name="rUserId" id="rUserId" class="full">
							<option value=""></option>
						</select>
					</div>
			 	</div>
			 	<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="rName">接口</label>
					<div class="col-lg-5 col-sm-9 from-inline">
						<select name="rSeqNo" id="rSeqNo" class="full">
							<option value=""></option>
						</select>
					</div>
			 	</div>
				<!-- /section:elements.form -->
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="rWeight">权重</label>
					<div class="col-lg-5 col-sm-9">
						<input type="text" id="rWeight" name="rWeight" class="full" placeholder="接口调用权重" value="2"/>
					</div>
				</div>
				<!-- /section:elements.form -->
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="expiredDate">有效期</label>
					<div class="col-lg-5 col-sm-9">
						<!-- #section:plugins/date-time.datepicker -->
						<div class="input-group">
							<input class="form-control date-picker full" id="rIsExpired" name="rIsExpired" type="text" />
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="isOff">状态</label>
					<div class="col-lg-5 col-sm-9">
						<select name="rIsOff" id="rIsOff" class="full"></select>
					</div>
				</div>
				<div class="space-4" />
				
				<div class="form-group">
					<label class="col-sm-3 textareaLabel no-padding-right" for="rDescription">接口描述</label>
					<div class="col-sm-9">
						<textarea id="rDescription" class="autosize-transition textarea_pub"/>
					</div>
				</div>
				<div class="space-4"></div>				
				
			</form>
			<script>
			$(function(){
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true,
					format: 'yyyy-mm-dd'
				});
				$('#rIsOff').select2({
				     data: [{id:'1', text:'限用'},{id:'0', text:'禁用'}],
				     minimumResultsForSearch: Infinity,
					 language: "zh-CN",
				     placeholder: "选择状态",
					 allowClear: false,
					 multiple: false,
				     escapeMarkup: function (markup) { return markup; }, // 自定义格式化防止xss注入
					 width: '100%',
					 dropdownParent: $('#w')
				});
				$.ajax({
					url: '/idcs/base/accs',
					type: 'get',
					dataType: 'json',
					success:function(response){
						var items=new Array();
						$.each(response.rows,function(i,item){
							var s=new Object();
							s['id']=item.userId;
							s['text']=item.userName+'('+item.userId+')';
							if(moment().diff(moment(item.expiredDate,'YYYY-MM-DD'),'days')>0){
								s['disabled']='disabled';
							}
							items.push(s);
						});
						$('#rUserId').select2({
						     data: items,
							 language: "zh-CN",
						     placeholder: "选择用户",
							 allowClear: false,
							 multiple: false,
						     escapeMarkup: function (markup) { return markup; }, // 自定义格式化防止xss注入
							 width: '100%',
							 dropdownParent: $('#w')
						});
					}
				});
				
				$.ajax({
					url: '/idcs/base/refers',
					type: 'get',
					dataType: 'json',
					success:function(response){
						var items=new Array();
						$.each(response.rows,function(i,item){
							var s=new Object();
							s['id']=item.seqNo;
							s['text']=item.rName+'('+item.rId+')';
							if(moment().diff(moment(item.expiredDate,'YYYY-MM-DD'),'days')>0){
								s['disabled']='disabled';
							}
							items.push(s);
						});
						$('#rSeqNo').select2({
						     data: items,
							 language: "zh-CN",
						     placeholder: "选择接口",
							 allowClear: false,
							 multiple: false,
						     escapeMarkup: function (markup) { return markup; }, // 自定义格式化防止xss注入
							 width: '100%',
							 dropdownParent: $('#w')
						});
					}
				});
			});
			</script>
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->

<!-- 设置select2 下拉框问题 -->
<div id="w" style="position:absolute;z-index:19892018">
</div>
